<!-- <ion-menu [content]="content" id="homeMenu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu> -->

<ion-menu [content]="content" id="menu1">
  <ion-header>
    <ion-navbar color="primary">
      <ion-title menuClose>Socialt flöde</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>

  </ion-content>
</ion-menu>

<ion-menu [content]="content" id="menu2" side="right" width="100%" (ionOpen)="menuOpened()" (ionClose)="menuClosed()">
  <ion-header>

    <ion-navbar color="primary">
      <ion-title class="customTitle" menuClose>{{getLabel()}}</ion-title>
    </ion-navbar>

  </ion-header>
  <ion-content>
    <!-- TODO fix list with [virtualScroll] -->
    <ion-list>
      <div *ngFor="let store of getStoresToGroup(); let c = count">
        <ion-list-header *ngIf="c > 1" class="item-group" (click)="toggleGroup(store)"
          [ngClass]="{'active': store.showAdverts === true}">
          <ion-icon *ngIf="store.showAdverts !== true" name="arrow-dropdown" style="font-size: 22px"></ion-icon>
          <ion-icon *ngIf="store.showAdverts === true" name="arrow-dropup" style="font-size: 22px"></ion-icon>
          &nbsp;
            {{store.storeName}}            
        </ion-list-header>
        <div [@fadeInOut]>
          <ion-item (click)="openModal(advert.imageUrl)" class="item-accordion" [hidden]="c > 1 && store.showAdverts === false" *ngFor="let advert of store.adverts">
            <!-- {{advert.imageUrl}} -->
            <ion-item-divider>
            <img [src]="advert.imageUrl" alt=""/>
          </ion-item-divider>
          </ion-item>
        </div>        
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>