<!-- <ion-menu [content]="content" id="homeMenu">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu> -->

<ion-menu [content]="content" id="menu1">
  <ion-header>

    <ion-navbar>
      <ion-title menuClose>Socialt flöde</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content padding>

  </ion-content>
</ion-menu>

<ion-menu [content]="content" id="menu2" side="right" width="100%">
  <ion-header>

    <ion-navbar>
      <ion-title menuClose>Erbjudanden</ion-title>
    </ion-navbar>

  </ion-header>
  <ion-content padding>
    <!-- TODO fix list with [virtualScroll] -->
    <ion-list>
        <ion-item style="height: 300px; width: 100%;" *ngFor="let item of service.getAdverts()">
          {{item.imageUrl}}
          <!-- TODO replace with img <ion-img src="data:image/*;base64,{{item.imageUrl}}" style="height: 300px; width: 100%;"></ion-img> -->
        </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>