<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="showAlert();activateMenu('menu1')">
        <ion-icon name="logo-buffer"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="activateMenu('menu2')">
        <ion-icon name="photos"><ion-badge *ngIf="getNumberOfAdverts() > 0" color="danger">{{getNumberOfAdverts()}}</ion-badge></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      PAL
    </ion-title>
  </ion-navbar>
</ion-header>