<ion-footer>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col col-4>
        <button (click)="onClick('Här är det tänkt att det ska vara möjligt att söka på en produkt som man är intresserad av.')" ion-button icon-only block>
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col>
      <ion-col (click)="onClick('Här är det tänkt att man ska kunna chatta eller lämna meddelanden.')" col-4>
        <button ion-button icon-only block>
          <ion-icon name="chatbubbles"></ion-icon>
        </button>
      </ion-col>
      <ion-col (click)="onClick('Här är det tänkt att kunna filtera på vilka typer av erbjudanden som ska visas.')" col-4>
        <button ion-button icon-only block>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>