<ion-footer>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col col-4>
        <button (click)="onClick('Sök', 'Här är det tänkt att det ska vara möjligt att söka på en produkt som man är intresserad av.')" ion-button icon-only block>
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col>
      <ion-col (click)="onClick('Chatt', 'Här är det tänkt att man ska kunna chatta och ställa frågor till olika företag')" col-4>
        <button ion-button icon-only block>
          <ion-icon name="chatbubbles"></ion-icon>
        </button>
      </ion-col>
      <ion-col (click)="onClick('Meny', 'Här kan du ändra inställningar, gå igenom olika företag som du låter få personliga erbjudanden från m.m. Om du är företagare, kan du här styra din marknadsföring.')" col-4>
        <button ion-button icon-only block>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>